/* */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham-Narrow-Book";
  src: url(../fonts/gotham-narrow-book.otf);
}

@font-face {
  font-family: "Gotham-Narrow-Black";
  src: url(../fonts/gotham-narrow-black.otf);
}

@font-face {
  font-family: "Gotham-Narrow-Light";
  src: url(../fonts/gotham-narrow-light.otf);
}

@font-face {
  font-family: "Larsseit";
  src: url(../../fonts/Larsseit.ttf);
}

@font-face {
  font-family: "Larsseit-Bold";
  src: url(../fonts/Larsseit-Bold.ttf);
}

@font-face {
  font-family: "Larsseit-Light";
  src: url(../fonts/Larsseit-Light.ttf);
}

@font-face {
  font-family: "Larsseit-Medium";
  src: url(../fonts/Larsseit-Medium.ttf);
}

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url(../fonts/Gilroy-ExtraBold.otf);
}

@font-face {
  font-family: "Gilroy-Light";
  src: url(../fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: "segoeui";
  src: url(../fonts/segoeui.ttf);
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.container-fluid {
  padding: 100px 0;
}

h2::before,
h2::after,
.fh5co-about-us .owl-carousel1 .owl-dots .active span,
.read-more,
.fh5co-news .owl-carousel2 .owl-dots .active span,
.form-box h4::after,
.form-box button {
  /*background-image: -moz-linear-gradient(0deg, #1270e4 0%, #58c0ff 100%);
  background-image: -webkit-linear-gradient(0deg, #1270e4 0%, #58c0ff 100%);
  background-image: -ms-linear-gradient(0deg, #1270e4 0%, #58c0ff 100%);*/
  /*background-image: -moz-linear-gradient(0deg, #920001 0%, #bf0002 100%);
  background-image: -webkit-linear-gradient(0deg, #920001 0%, #bf0002 100%);
  background-image: -ms-linear-gradient(0deg, #920001 0%, #bf0002 100%);*/
  /*background-image: -moz-linear-gradient(0deg, #ac5636 0%, #6f4739 100%);
  background-image: -webkit-linear-gradient(0deg, #ac5636 0%, #6f4739 100%);
  background-image: -ms-linear-gradient(0deg, #ac5636 0%, #6f4739 100%);*/
  background-image: -moz-linear-gradient(0deg, #956500 0%, #b57900 50%, #c3860d 100%);
  background-image: -webkit-linear-gradient(0deg, #956500 0%, #b57900 50%, #c3860d 100%);
  background-image: -ms-linear-gradient(0deg, #956500 0%, #b57900 50%, #c3860d 100%);
}

nav.fixed-top {
  padding-top: 0;
}

.header .fixed-top {
  position: absolute;
}

.header .container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.341);
}

.header .container p.follow {
  color: #ffffff;
  font-family: "segoeui";
  margin-bottom: 10px;
}

.header .home-bg {
  min-height: 430px;
  max-height: 105vh;
}

.header .carousel-caption {
  bottom: 0;
  top: 383px;
}

.header .frst-hrd {
  font-family: "Gotham-Narrow-Light";
  background-color: rgba(255, 255, 255, 0.29);
  border-radius: 20px;
  max-width: 274px;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  color: #ffffff;
}

.header h5 {
  font-size: 70px;
  font-family: "Larsseit-Bold";
  text-transform: uppercase;
  max-width: 600px;
  margin: 10px auto;
  text-align: center;
}

.header h5+p {
  font-family: "Gotham-Narrow-Book";
  font-size: 20px;
  color: #ffffff;
}

.header ul.carousel-indicators {
  bottom: 280px;
  position: absolute;
  z-index: 55;
}

.header ul.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.349);
  display: inline-block;
  list-style-type: none;
  width: 12px;
  height: 7px;
  border-radius: 10px;
  margin: 0 3px;
  cursor: pointer;
}

.header ul.carousel-indicators li.active {
  width: 35px;
  background: #ffffff;
}

@media (max-width: 1199px) {
  .header ul.carousel-indicators {
    bottom: 200px;
  }
}

@media (max-width: 738px) {
  .header ul.carousel-indicators {
    bottom: 110px;
  }
}

@media (max-width: 1199px) {
  .header .carousel-caption {
    top: 200px;
  }
}

@media (max-width: 991px) {
  .header h5 {
    font-size: 50px;
  }

  .header .carousel-caption {
    top: 150px;
  }
}

@media (max-width: 767px) {
  .header h5 {
    font-size: 36px;
    max-width: 300px;
  }

  .header h5+p {
    font-size: 16px;
  }

  .header .carousel-caption {
    top: 100px;
  }

  .header .carousel-caption ul {
    margin-top: 20px;
  }
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}

.change .bar1 {
  -webkit-transform: rotate(-42deg) translate(-2px, 6px);
  transform: rotate(-42deg) translate(-2px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(46deg) translate(-4px, -8px);
  transform: rotate(46deg) translate(-4px, -8px);
}

.scroll-button {
  text-align: center;
}

.scroll-button p {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: -50px;
  color: #fff;
  font-size: 16px;
  font-family: "Gotham-Narrow-Book";
}

.scroll-button a {
  background: #ffffff;
  border-radius: 50%;
  display: block;
  width: 82px;
  height: 82px;
  box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.07);
  text-align: center;
  padding-top: 30px;
  margin: 0 auto;
  margin-top: -45px;
  z-index: 55;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}

.social-links {
  width: 430px;
}

.social-links li {
  border: 1px solid #ffffff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  text-align: center;
  margin: 0 3px;
}

.social-links li a {
  color: #ffffff;
  padding: 7px;
}

@media (max-width: 1199px) {
  .social-links {
    float: left !important;
    display: block;
  }

  .social-links li {
    float: left;
  }
}

.menu-links {
  width: 430px;
}

.menu-links li {
  margin: 0px;
}

.menu-links li a {
  color: #ffffff;
  font-family: "Gotham-Narrow-Book";
  padding: 40px 15px !important;
  border-top: 5px solid transparent;
}

.menu-links li a.active {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.22), rgba(255, 255, 255, 0.22), transparent);
  border-top: 5px solid #1270e4;
}

@media (max-width: 1199px) {
  .menu-links {
    float: left !important;
    margin-top: 20px;
  }

  .menu-links li a {
    padding: 10px 15px !important;
  }
}

.navbar-collapse.show {
  background: rgba(0, 0, 0, 0.4);
  transition: .2s;
}

.mobile-logo {
  display: none;
}

@media (max-width: 1199px) {
  .mobile-logo {
    display: block;
    margin: 20px 0;
  }
}

@media (max-width: 1199px) {
  .logo-desktop {
    display: none;
  }
}

h2 {
  /*font-family: "Larsseit-Bold";*/
  font-size: 33px;
  /*color: #1e1f29;*/
  background: linear-gradient(60deg, #cd8b00, #b57900, #ffc66f, #c3860d, #956500);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgb(0, 0, 0, 0.2);
}

h2::before {
  position: absolute;
  content: "";
  width: 125px;
  height: 2px;
  margin-top: 18px;
  margin-left: -150px;
}

h2::after {
  position: absolute;
  content: "";
  height: 7px;
  width: 10px;
  margin-top: 16px;
  margin-left: 10px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  font-size: 18px;
  color: #fff7f0;
  color: #3d3d3d;
  color: #2e2e2e;
  color: #0d0502;
  color: #423c2e;
}

.fh5co-about-us {
  padding: 150px 0;
}

.fh5co-about-us h2 {
  margin-left: 20px;
}

.fh5co-about-us p {
  margin: 35px 0;
}

.fh5co-about-us .owl-carousel1 {
  margin-left: 40px;
  margin-top: -80px;
  width: 480px;
}

.fh5co-about-us .owl-carousel1 img {
  border-radius: 1px;
}

.fh5co-about-us .owl-carousel1 .owl-nav {
  display: none;
}

.fh5co-about-us .owl-carousel1 .owl-dots {
  text-align: left;
  margin-left: 20px;
  margin-top: -40px;
}

.fh5co-about-us .owl-carousel1 .owl-dots span {
  position: relative;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  display: block;
  background: #ffffff;
  margin: 0 5px;
}

.fh5co-about-us .owl-carousel1 .owl-dots .active {
  box-shadow: none;
}

.fh5co-about-us .owl-carousel1 .owl-dots .active span {
  box-shadow: none;
  margin-bottom: -1px;
}

@media (max-width: 1199px) {
  .fh5co-about-us .owl-carousel1 {
    width: 350px;
    margin-top: 0px;
  }
}

@media (max-width: 991px) {
  .fh5co-about-us .col-lg-4 {
    margin-bottom: 100px;
    margin-bottom: -20px;
    margin-bottom: 30px;
  }

  .fh5co-about-us .col-md-4 {
    margin-bottom: 100px;
    margin-bottom: -20px;
    margin-bottom: 30px;
  }

  .fh5co-about-us .owl-carousel1 {
    margin-top: -70px;
  }
}

@media (max-width: 450px) {
  .fh5co-about-us .owl-carousel1 {
    width: 100%;
    margin: 0;
    padding: 30px;
    margin-top: -100px;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  color: #cccccc;
  font-size: 24px;
  padding: 12px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i,
.owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  color: #000;
}

/*.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}*/

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  background: #cccccc;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  background: #4d4d4d;
  background: #340000;
  background: #b4a793;
  background: #a1886d;
}

.about-us-content {
  box-shadow: 0px 34px 57px 0px rgba(0, 0, 0, 0.04);
  background: #ffffff;
  position: absolute;
  padding-left: 100px;
  margin-left: -28px;
  z-index: 5;
  padding: 50px 100px;
  padding-right: 120px;
}

@media (max-width: 1199px) {
  .about-us-content {
    margin-left: -18px;
    padding: 20px 30px;
  }
}

@media (max-width: 991px) {
  .about-us-content {
    position: relative;
    margin-left: 0;
    padding: 20px 27px;
  }
}

a {
  text-decoration: none !important;
}

.read-more {
  color: #fff !important;
  /*font-family: "Larsseit";*/
  font-size: 14px;
  padding: 10px 25px;
  border-radius: 2px;
  display: inline-block;
  /*color: #555555 !important;
    border: 1px solid #555555;*/
}

.read-more:hover {
  box-shadow: 0px 2px 5px #cccccc;
  transition: all 0.3s;
}

.back-bg {
  position: absolute;
  min-height: 600px;
}

@media (max-width: 1199px) {
  .back-bg {
    height: 100%;
    min-height: 400px;
    margin-bottom: 100px;
  }
}

@media (max-width: 991px) {
  .back-bg {
    display: none;
  }
}

@media (max-width: 450px) {
  .back-bg {
    width: 100%;
    min-height: 320px;
    margin-left: -30px;
    display: none;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 700 !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  letter-spacing: 2px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 10px 22px;
  text-transform: uppercase;
  background: none repeat scroll 0 0 #ffffff40;
  text-shadow: none !important;
  -webkit-box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
}

.form-control {
  box-shadow: none;
  background: transparent;
  /*border: 2px solid rgba(0, 0, 0, 0.1);*/
  height: 54px;
  font-size: 18px;
  font-weight: 500;
  color: #dddddd;
}

.form-control:active,
.form-control:focus {
  outline: none;
  box-shadow: none;
  color: #dddddd;
  border-color: #aaaaaa;
  border: 1px solid #920001 !important;
  border: 1px solid #690102 !important;
  border: 3px solid #aba79c !important;
  background: transparent;
}


.fh5co-portfolio {
  padding-bottom: 0;
}

.fh5co-portfolio h3 {
  font-family: "Larsseit-Medium";
  color: #1e1f29;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 20px 0;
}

.fh5co-portfolio p {
  max-width: 512px;
  margin-top: 20px;
}

.portfolio-tab {
  background-color: #ffffff;
  box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.04);
}

.portfolio-tab ul {
  margin-bottom: 30px;
}

.portfolio-tab ul li {
  list-style-type: none;
  display: inline-block;
}

.portfolio-tab ul li a {
  color: #aeafb9;
  padding: 15px 5px;
  font-size: 13px;
  display: block;
}

.portfolio-tab ul li a.active {
  background-image: linear-gradient(to bottom, rgba(18, 112, 228, 0.071), rgba(18, 112, 228, 0.071), transparent);
  background-image: -moz-linear-gradient(to bottom, rgba(18, 112, 228, 0.071), rgba(18, 112, 228, 0.071), transparent);
  background-image: -webkit-linear-gradient(to bottom, rgba(18, 112, 228, 0.071), rgba(18, 112, 228, 0.071), transparent);
  background-image: -ms-linear-gradient(to bottom, rgba(18, 112, 228, 0.071), rgba(18, 112, 228, 0.071), transparent);
  border-top: 5px solid #1270e4;
  color: #1270e4;
}

.portfolioFilter {
  padding: 15px 0 5px 0;
  width: 100%;
}

.portfolioContainer {
  border-radius: 3px;
  width: 100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.gallary {
  width: 25%;
  padding: 7px;
}

.gallary img {
  width: 100%;
  height: 600px;
}

.gallary img.half-height {
  height: 293px;
}

.gallary .card-img-overlay {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  display: none;
}

.gallary:hover .card-img-overlay {
  display: block;
}

@media (max-width: 991px) {
  .gallary {
    width: 50%;
  }

  .gallary img {
    height: auto;
  }

  .gallary img.half-height {
    height: auto;
  }
}

@media (max-width: 450px) {
  .gallary {
    width: 100%;
  }
}

.center-img {
  width: 50%;
}

@media (max-width: 450px) {
  .center-img {
    width: 100%;
  }
}

.top-buttons .img-icon {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.23);
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  float: left;
  margin-right: 10px;
}

.top-buttons .img-icon img {
  height: auto;
  max-width: 20px;
  margin-top: 12px;
}

.top-buttons .txt {
  top: 8px;
  position: relative;
}

.top-buttons a {
  color: #fff;
  float: left;
}

.top-buttons a:nth-child(2) {
  float: right;
}

.bottom-buttons {
  position: absolute;
  bottom: 20px;
  display: block !important;
  left: 20px;
  right: 20px;
}

.bottom-buttons a {
  font-size: 14.583px;
  font-family: "Larsseit";
  background: #ffffff;
  display: block;
  padding: 8px 20px 20px 20px;
  border-radius: 30px;
  height: 50px;
}

.bottom-buttons a .txt {
  background: -webkit-linear-gradient(left, #1270e4, #58c0ff);
  background: -ms-linear-gradient(left, #1270e4, #58c0ff);
  background: -moz-linear-gradient(left, #1270e4, #58c0ff);
  background: -o-linear-gradient(left, #1270e4, #58c0ff);
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -o-text-fill-color: transparent;
}

.bottom-buttons .img-icon {
  box-shadow: none;
  background: transparent;
  height: auto;
  width: auto;
}

.indicators {
  margin: 50px auto;
}

.indicators li {
  display: inline-block;
  list-style-type: none;
  margin: 0 4px;
}

.indicators li a {
  border-radius: 50%;
  background-color: #ebebeb;
  width: 16px;
  height: 16px;
  display: block;
}

.indicators li a.active {
  border-width: 0.8px;
  border: 1px solid #1270e4;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.indicators li a.active::after {
  position: absolute;
  content: "";
  background-image: -moz-linear-gradient(-11deg, #1270e4 0%, #58c0ff 100%);
  background-image: -webkit-linear-gradient(-11deg, #1270e4 0%, #58c0ff 100%);
  background-image: -ms-linear-gradient(-11deg, #1270e4 0%, #58c0ff 100%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-top: 4px;
  margin-left: 4px;
}

.card {
  border: none;
}

.fh5co-news {
  background: #79080a;
  background: #d3cab9 url(../../images/news-bg.jpg) no-repeat center;
  background-size: cover;
  /*border-top: 2px solid #ffbe68;
  border-bottom: 2px solid #ffbe68;*/
  padding-top: 100px;
  padding-bottom: 100px;
  padding-bottom: 0px;
}

.fh5co-news .row {
  padding: 0 80px;
}

@media (max-width: 767px) {
  .fh5co-news .row {
    padding: 0;
  }
}

.fh5co-news h2 {
  text-align: center;
  margin-bottom: 50px;
}

.fh5co-news h5 {
  /*font-family: "Larsseit-Medium";*/
  color: #1e1f29;
  color: #ffffff;
  color: #212726;
  font-size: 21px;
}

.fh5co-news p {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 20px;
  color: #ffffff8c;
  color: #322111;
}

.fh5co-news .card {
  background-color: #ffffff26;
  background-color: #0000002b;
  background: #500000ad;
  background: #a99a83;
  background: #a99a83cc;
  box-shadow: 0px 8px 25px 0px rgba(23, 23, 23, 0.06);
}

.fh5co-news .card-body {
  padding: 30px 40px !important;
}

.fh5co-news .owl-nav {
  display: none;
}

.fh5co-news .owl-carousel2 .owl-dots {
  text-align: center;
  margin: 20px auto;
  display: block;
}

.fh5co-news .owl-carousel2 .owl-dots button {
  outline: none !important;
}

.fh5co-news .owl-carousel2 .owl-dots span {
  position: relative;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: block;
  background: #ebebeb;
  background: #500000ad;
  background: #b4a793;
  background: #b4a793c4;
  margin: 0 5px;
}

.fh5co-news .owl-carousel2 .owl-dots .active {
  box-shadow: none;
}

.fh5co-news .owl-carousel2 .owl-dots .active span {
  box-shadow: none;
  margin-bottom: -1px;
}

.fh5co-news .owl-carousel2 .owl-item {
  margin-bottom: 35px;
}

.fh5co-news .owl-carousel2 .owl-nav {
  display: block !important;
  position: absolute;
  top: 25%;
  width: 100%;
}

.fh5co-news .owl-carousel2 .owl-prev,
.fh5co-news .owl-carousel2 .owl-next {
  font-size: 50px !important;
  color: #dddddd !important;
  position: absolute;
  outline: none;
  background: #b3a693b5 !important;
  border-radius: 50%;
  height: 68px;
  width: 68px;
  -webkit-transition: all 0.18s ease-in;
  -moz-transition: all 0.18s ease-in;
  -ms-transition: all 0.18s ease-in;
  -o-transition: all 0.18s ease-in;
  transition: all 0.18s ease-in;
}

.fh5co-news .owl-carousel2 .owl-prev span,
.fh5co-news .owl-carousel2 .owl-next span {
  position: relative;
  top: -7px;
}

.fh5co-news .owl-carousel2 .owl-prev:hover,
.fh5co-news .owl-carousel2 .owl-next:hover {
  color: #1270e4;
  background: #ffffff !important;
  background: #b3a692 !important;
  box-shadow: 0px 11px 10px 0px rgba(0, 0, 0, 0.07);
}

@media (max-width: 767px) {

  .fh5co-news .owl-carousel2 .owl-prev,
  .fh5co-news .owl-carousel2 .owl-next {
    display: none !important;
  }
}

.fh5co-news .owl-carousel2 .owl-prev {
  left: -100px;
}

.fh5co-news .owl-carousel2 .owl-next {
  right: -100px;
}

footer.fh5co-footer h2 {
  margin-top: 80px;
}

footer.fh5co-footer .light {
  /*font-family: "Larsseit-Light";*/
  font-size: 18px;
}

footer.fh5co-footer p {
  margin: 20px 0;
}

footer.fh5co-footer p span {
  margin-right: 10px;
  color: #dddddd;
}

footer.fh5co-footer p span.phone {
  top: 0px;
  position: relative;
}

footer.fh5co-footer p b {
  color: #1e1f29;
  color: #dddddd;
  color: #ffffff;
  /*font-family: "Gilroy-Light";*/
  font-weight: 400;
  font-size: 16px;
}

footer.fh5co-footer p b a {
  color: #dddddd;
  color: #ffffff;
}

footer.fh5co-footer p b a:hover {
  color: #7a6158;
  color: #a16b57;
  color: #ffc685;
}

footer.fh5co-footer h3 {
  /*font-family: "Larsseit-Bold";*/
  font-size: 33px;
  color: #1e1f29;
  text-transform: uppercase;
}

footer.fh5co-footer .social-links {
  display: inline-block !important;
  margin-top: 20px;
}

footer.fh5co-footer .social-links li {
  border: 1px solid #dddddd;
  float: left;
  list-style: none;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

footer.fh5co-footer .social-links li:hover {
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 10%);
}

footer.fh5co-footer .social-links li a {
  color: #dddddd;
}

@media (max-width: 991px) {
  footer.fh5co-footer .col-lg-5 {
    text-align: center;
    margin-bottom: 50px;
  }

  footer.fh5co-footer .social-links {
    display: inline-block !important;
    margin-top: 20px;
    float: none !important;
    width: auto;
  }
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
}

.form-box {
  border-radius: 3px;
  background-color: white;
  background-color: #00000099;
  background-color: #d8cdbebf;
  box-shadow: 0px 29px 57px 0px rgba(22, 20, 24, 0.1);
  padding: 50px;
  color: #56514b;
}

.form-box h4 {
  /*font-family: "Larsseit-Bold";*/
  font-size: 32px;
  color: #1e1f29;
  color: #dddddd;
  color: #56514b;
  text-transform: uppercase;
}

.form-box h4::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  margin-top: 20px;
  margin-left: 10px;
}

.form-box p {
  font-size: 18px;
}

.form-box hr {
  border: none;
  border-top: 1px solid #f7f7f7;
  border-top: 1px solid #000000b3;
  border-top: 1px solid #00000000;
}

.form-box input[type="text"],
.form-box textarea {
  /*border: 1px solid #ebebeb;*/
  */ border: 1px solid #e5e1d5;
  background-color: rgba(235, 235, 235, 0.09);
  padding: 30px;
  border-radius: 2px;
  box-shadow: none;
  background: transparent;
  background: #e5e1d5;
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  color: #58554e;
}

.form-box input:active,
.form-box input:focus {
  color: #58554e;
  border: 1px solid #aba79c !important;
  background: #e5e1d5 !important;
}

.form-box textarea {
  resize: none;
  min-height: 140px;
  border-radius: 2px;
}

.form-box textarea:active,
.form-box textarea:focus {
  color: #58554e;
  border: 1px solid #aba79c !important;
  background: #e5e1d5 !important;
}

.form-box button {
  color: #fff;
  font-size: 14px;
  font-family: "Larsseit";
  padding: 13px 35px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 550px) {
  .form-box {
    padding: 20px;
  }
}

.copy {
  display: block;
  color: #eeeeee !important;
  /*background: #440001;
  background: #6a0002;
  background-image: -moz-linear-gradient(90deg, #590001 0%, #920001 100%);
  background-image: -webkit-linear-gradient(90deg, #590001 0%, #920001 100%);
  background-image: -ms-linear-gradient(90deg, #590001 0%, #920001 100%);*/
  background-image: url(../../images/header.png);
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  text-align: center;
  /*font-family: "Gilroy-Light";*/
}

.parallax-window {
  min-height: 1027px;
  position: relative;
  z-index: 55;
  top: 0;
  left: 0;
  right: 0;
  min-height: 1027px;
}


.post-btn {
  color: #6e6e6e;
  text-align: center;
  font-size: 10px;
  display: inline-block;
  width: 38px;
  height: 38px;
  width: 150px;
  height: 25px;
  line-height: 38px;
  /*border-radius: 50%;*/
  background-color: whitesmoke;
  background-image: url(../../images/news-arrow.svg);
  background-color: #ffffff00;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 50%;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  -webkit-transition: all 0.18s ease-in;
  -moz-transition: all 0.18s ease-in;
  -ms-transition: all 0.18s ease-in;
  -o-transition: all 0.18s ease-in;
  transition: all 0.18s ease-in;
}

.post-btn:hover {
  /*color: #fff;
  background-color: #c6836a;
  background-color: #a10204;
  box-shadow: 0px 2px 5px #cccccc;*/
  transform: translate(5px, 0);
  /* 取消預設向上位移 */
  /*transform: scaleY(-1);*/
}